:root {
  --bg: #fefefe;
  --text: #111;
}

[data-theme='dark'] {
  --bg: #111;
  --text: #fefefe;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--text);
}
